@tailwind base;

@tailwind components;

@tailwind utilities;


#main-container {
  margin-top: 170px;
}

/* PRELOAD */

.preload-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.preload-logo {
  margin-bottom: 20px;
  margin-left: 20px;
}

.loader {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
}

.loader .box {
  width: 45%;
  height: 45%;
  background: rgba(20, 20, 20, 0.7);
  opacity: 0;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: load 1s linear infinite;
  animation: load 1s linear infinite;
}

.loader .box:nth-of-type(1) {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
}

.loader .box:nth-of-type(2) {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.loader .box:nth-of-type(3) {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loader .box:nth-of-type(4) {
  position: absolute;
  bottom: 2.5%;
  left: 2.5%;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

@-webkit-keyframes load {
  0% {
      opacity: 0;
  }
  30% {
      opacity: 0;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes load {
  0% {
      opacity: 0;
  }
  30% {
      opacity: 0;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}